.page-container {
    text-align: center;
}

.logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.container {
    background-color: #282c34;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

.link {
    color: #61dafb;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.address-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.copy {
    width: 20px;
    cursor: pointer;
}

.balance {
    margin-top: -20px;
}

.switch-title {
    margin-top: 100px;
}

.btn-network {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #042442;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn-network:hover {
    background-color: #042442
}

.btn-network:active {
    background-color: #042442;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.network-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.content-left {
    padding: 20px;
    ;
}

.content-right {
    padding: 20px;
    ;
}

.input {
    text-align: center;
}

.btn-send {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #228304;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn-send:hover {
    background-color: #00854d
}

.btn-send:active {
    background-color: #00884f;
    box-shadow: 0 5px rgb(180, 247, 167);
    transform: translateY(4px);
}